<!-- instead of trying to write the quote to the response. lets try using an EJS template to render the response -->
 <h2>Quote by <h1><%= name %></h1></h2>
 <blockquote>
    <%= quote %>
 </blockquote>